<h4> Category Form </h4>

<%= form_with model: @tag do |f| %>
    <%= render "shared/form_errors", model: @tag %>
    <p>
        <%= f.label :name, "Category Name" %>
        <%= f.text_field :name, required: true, maxlength: 20 %>
    </p>
    <p> <%= f.submit %> </p>
<% end %>